html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

.uvodni-strana {
  text-align: center;
  margin: 6.25rem auto;
  max-width: 25rem;
  max-height: 39rem;
  background-color: #283e50;
  border-radius: 6px 6px 0 0;
}

.obrazek img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 1.25rem;
  text-align: center;
}

.text p {
  margin: 0px 1.875rem 1.875rem 1.875rem;
  font-size: 16px;
}

.tlacitka a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.938rem 0;
  margin: 0;
  text-align: center;
}

.tlacitka__pravidla {
  background-color: #1fcca4;
  border-bottom: #283e50 solid 1px;
}

.tlacitka__pravidla:hover {
  background-color: #1cbb96;
}

.tlacitka__hrat {
  background-color: #0197f6;
}

.tlacitka__hrat:hover {
  background-color: #0090e9;
}

/* stylování strany pravidel - verze úzká obrazovka*/

.pravidla {
  margin: 1.25rem auto;
  max-width: 80vw;
  background-color: #283e50;
  border-radius: 6px 6px 0 0;
}

.pravidla__seznam li {
  margin: 1.25rem;
}

.pravidla__nadpis {
  margin: 1.875rem;
  padding-top: 1.25rem;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  font-weight: normal;
}

.priklady img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.priklady {
  text-align: center;
}

.ikony-herni-kolecko,
.ikony-herni-krizek,
.ikona-na-tahu {
  filter: invert(100%);
  width: 1em;
  height: 1em;
  margin-bottom: -0.15rem;
}

.tlacitka__uvod {
  background-color: #1fcca4;
  border-bottom: #283e50 solid 1px;
}

.tlacitka__uvod:hover {
  background-color: #1cbb96;
}

/*nastavení pro širokou obrazovku */
@media (min-width: 540px) {
  .pravidla {
    max-width: 50rem;
  }
  figure {
    width: calc((90%-30px) / 2);
    margin: 0.625rem;
  }
  .priklady {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*stylování stránky hra*/
.herni-plocha {
  max-width: 80vmin;
  height: 100vh;
  margin: 3.25rem auto 6.25rem auto;
}

.hraje {
  text-transform: uppercase;
}
.herni-plocha__hlavicka-hry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ikony {
  margin-bottom: 10px;
}
.ikony a {
  display: inline-block;
  margin: 5px;
  width: 3.125rem;
  height: 3.125rem;

  text-align: center;
}
.ikony a img {
  padding: 12px 8px;
}
.ikony__uvod {
  background-color: #1fcca4;
  border-radius: 8px;
}
.ikony__restart {
  background-color: #0197f6;
  border-radius: 8px;
}

.ikony__uvod:hover,
.ikony__uvod:focus,
.ikony__uvod:active {
  background-color: #1cbb96;
}

.ikony__restart:hover,
.ikony__domu:focus,
.ikony__domu:active {
  background-color: #0090e9;
}

.herni-plocha__policka {
  display: flex;
  flex-wrap: wrap;
  height: 80vmin;
}
button {
  flex: 0 0 calc(100% / 10);
  height: calc(100% / 10);
  border: #283e50 solid 1px;
  cursor: pointer;
  padding: 0;
  background: rgba(238, 209, 252, 0.2);
}

button:hover,
button:active {
  background: rgba(236, 199, 255, 0.795);
}

/* stylování průběhu hry */
/* button img {
  height: 70%;
  width: auto;
  display: none;
  margin: 0;
} */

.tlacitko--kolecko {
  background-image: url(img/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  animation-duration: 0.2s;
  animation-name: pop;
}
.tlacitko--kolecko:hover {
  background-image: url(img/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.tlacitko--krizek {
  background-image: url(img/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  animation-duration: 0.15s;
  animation-name: pop;
}

.tlacitko--krizek:hover {
  background-image: url(img/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

@keyframes pop {
  0% {
    transform: scale(0.3);
    border: none;
  }
  100% {
    transform: scale(1);
    border: none;
  }
}
